*.bin
*.flp
*.o
*.img
*.d
*.out
commands
mnt
*.a
programs/tsh/tsh
programs/keyboard/keyboard
programs/cpuid/cpuid
programs/args/args
programs/shutdown/shutdown
programs/reboot/reboot
programs/stat/stat
programs/cat/cat
programs/which/which
programs/long/long
programs/loop/loop
programs/keyboard/keyboard
programs/writer/writer
programs/longtwo/longtwo
programs/longone/longone
programs/pwd/pwd
programs/which/which
programs/readelf/readelf
programs/touch/touch
programs/mkdir/mkdir
programs/rm/rm
programs/date/date
programs/ls/ls
programs/mount/mount
programs/uptime/uptime
programs/df/df
programs/dist/
tstl/tester

# Ignore the generated log (Qemu)
kernel.log
