*.bin
*.flp
*.o
*.img
*.d
*.out
commands
mnt
*.a
programs/tsh/tsh
programs/keyboard/keyboard
programs/cpuid/cpuid
programs/args/args
programs/shutdown/shutdown
programs/reboot/reboot
programs/stat/stat
programs/dist/